{% extends "home/index.html" %}
{% load static %}
{% block app_coder_blog_content %}
<div class="col-md-4 float-right ">
    <div class="card my-4">
            <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text"> Amadeo Miotto is my name , borned and raised in Argentina with dual citizienship italian/argentinian .I enrolled at Coder House which is a school of digital skills to learn a Programming languaje named Python, During the 3 months of course I Learnt the basics of Python and how to portray my code with the help of Visual Studio Code (Code editor) , Sql (Date base management) and Django (Web Framework). This blog was created as the final presentation of Python's Coder house digital skills school!</p>
            <a href="https://ar.linkedin.com/in/amadeo-miotto-a3a135223"class="btn btn-blue">Know more about Amadeo Miotto!! My linkedin Profile clicking here! </a>  
            
        </div>
    </div>
</div>

{% endblock %}